.content {
    padding-left: 40px;
}

.header-section h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aside {
    background-color: #F8F9FA;
    padding: 0px;
}

.aside .list-group {
    padding: 1.5em;
}

.aside .list-group-item {
    background-color: #F8F9FA;
}

.aside .list-group-item.active {
    background-color: #28a745;
    border-color: #28a745;
}

.badge {
    margin-left: 1.5em;
}

.deadline p {
    text-align: right;
    margin-bottom: 0px;
}

.btn-add-task {
    border-radius: 100%;
    width: 3em;
    height: 3em;
    padding: 0px;
    float: right;
    margin-top: 3em;
}


/* Checkbox for important tasks */

.custom-checkbox .custom-control-input.important~.custom-control-label::before {
    border-color: red;
}

.custom-checkbox .custom-control-input.important:checked~.custom-control-label::before {
    background-color: red;
}

.custom-checkbox .custom-control-input.important:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgb(255, 148, 148);
}